.wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

.wrapper > div {
  width: 500px;
  min-height: 100px;
  flex: 1;
  text-align: center;
}

.category-item {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightgreen;
  font-weight: bold;
  padding: 5px;
  width: 100px;
  border-radius: 15px;
}

.category-item:hover {
  text-decoration: underline;
  background-color: rgb(72, 239, 72);
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.product-item {
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: lightgreen;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

.product-item:hover {
  text-decoration: underline;
  background-color: rgb(72, 239, 72);
}

.info-item {
  margin-top: 20px;
  border-radius: 15px;
  background-color: lightgreen;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

.btn {
  background-color: aquamarine;
  cursor: pointer;
  font-weight: bold;
  align-self: center;
  padding: 10px 20px;
  border-radius: 10px;
  top: 10px;
  left: 44%;
}

.btn:hover {
  background-color: rgb(55, 246, 182);
}

.purchase-message {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

.purchase_form {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  border: 1px solid black;
  border-radius: 15px;
}

.header {
  text-decoration: none;
  font-weight: 400;
}

.order-row {
  display: flex;
  align-items: center;
}

.delete-btn {
  margin-left: 30px;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(249, 133, 133);
}